<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.illustration.dao.UserDao">
    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="head_portrait" property="headPortrait"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="roles" resultMap="RoleResultMap"/>
    </resultMap>
    <resultMap id="RoleResultMap" type="Role">
        <id column="role_id" property="id"/>
        <result column="role_label" property="roleLabel"/>
        <result column="role_name" property="roleName"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="selectUserByAccount" resultMap="UserResultMap">
        SELECT u.id, u.user_id, u.email, u.password, u.user_name, u.head_portrait, u.create_time, u.update_time,
        r.id role_id, r.role_label, r.role_name, r.remark, r.create_time, r.update_time
        FROM user u LEFT JOIN user_role ON u.id=user_role.user_id
        LEFT JOIN role r ON user_role.role_id=r.id
        <where>
            <if test="type == 0">
                u.email=#{account}
            </if>
            <if test="type == 1">
                u.user_id=#{account}
            </if>
        </where>
    </select>
</mapper>